# This is example of .env file. Remove or copy this file and remove '.example' to apply .env variables

# Server
SERVER_ADDRESS=0.0.0.0:1990	    # Address that server will be listening
LOG_LEVEL=Info                  # Minimal log level for logging. Variants: Trace, Info, Warn, Error

# Database path.
# If DB_PATH is empty, server will be use this default pathes:
#   For Windows — %APPDATA%/LocalLow/Zeevum/Zeevum-server/db/database.sqlite
#   For linux — For linux — $XDG_DATA_HOME/Zeevum/Zeevum-server/db/database.sqlite
# But if you want to change it, just enter something like that: DB_PATH=./db/database.sqlite 
DB_PATH=

# Timeouts and durations
READ_TIMEOUT=300				# Read timeout (in seconds) to prevent infinite (dead) connections (values <= 0 fall back to default)
HANDSHAKE_TIMEOUT=10            # Handshake timeout (in seconds) to prevent handshake-ddos atacks
SESSION_DURATION_HOURS=720     # The number of hours the user session remains active (refreshed each time the user accesses the application).

# Certificates required for encryption
TLS_CERT_PATH=/path/to/my.testip.com.crt
TLS_KEY_PATH=/path/to/my.testip.com.crt.key

# Level of security against bots in Ethernet (solving hash).
# Levels:
#      - Weak (fast 100-300ms solving, may be dangerous)
#      - Medium (average 1-2sec solving, default value)
#      - Strong (long 3-5sec solving, may be so slow for users)
POW_DIFFICULTY=Medium